body {
    position: relative;
}

form.auth__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 2rem;
}

form.signup__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 2rem;
}
button.button__submit {
    max-width: 100px;
    margin: 2em auto;
    background-color: white;
}

.auth_headline {
    margin-top: 5rem;
}

::placeholder {
    color: black;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: white;
}

#input-username {
    padding: 0.5em;
    margin: 10px;
}

#input-password {
    padding: 0.5em;
    margin: 10px;
}

#input-email {
    padding: 0.5em;
    margin: 10px;
}
#input-role {
    padding: 0.5em;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.button__submit {
    border: 1px, solid, black;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    padding: 0.5em 1em;
    margin-left: 1em;
    border-radius: 5%;
    cursor: pointer;
    color: #e3f2ff;
    color: #18191a;
}

.button__submit:hover {
    transform: scale(1.05);
    background-color: #18191a;
    color: #e4f9ff;
    text-decoration: none;
}
.button__submit_signup {
    border: 1px, solid, black;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: white;
    border-radius: 5%;
    padding: 0.5em 1em;
    transition: all 0.2s ease-in-out;
    margin: 2em auto;
}
.button__submit_signup:hover {
    transform: scale(1.05);
    background-color: #18191a;
    color: #e4f9ff;
    text-decoration: none;
}
