form.auth__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 2rem;
    font-family: chalkduster;
}

form.signup__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 2rem;
    font-family: chalkduster;
}
button.button__submit {
    max-width: 100px;
    margin: 2em auto;
    font-family: chalkduster;
    background-color: white;
}

.auth_headline {
    font-family: chalkduster;
    margin-top: 5rem;
}

::placeholder {
    color: black;
    font-size: 1em;
    font-family: chalkduster;
}

#input-username {
    padding: 0.5em;
    margin: 10px;
    border-radius: 20%;
}

#input-password {
    padding: 0.5em;
    border-radius: 20%;
    margin: 10px;
}

#input-email {
    padding: 0.5em;
    border-radius: 20%;
    margin: 10px;
}
#input-role {
    padding: 0.5em;
    margin: 10px;
    font-family: chalkduster;
    border-radius: 20%;
}
.button__submit {
    border-radius: 20%;
    border: 1px, solid, black;
    padding: 5px 20px;
}
