.explore_works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    margin-left: 18vh;
    margin-right: 18vh;
}

.headline_explore {
    margin-top: 3rem;
}

.work_section {
    border: 1px solid;
    border-radius: 1%;
    padding: 3vh;
    margin: 2vh;
}

.explore_owner {
    font-size: 11px;
}

.explore_work_bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.explore_span {
    font-size: 13px;
}
