.bistro {
    width: 93%;
    height: 650px;
    opacity: 0.6;
    position: relative;
}

/* .homepage_links {
    display: grid;
    position: absolute;
    top: 60%;
    left: 45%;
}
.homeLink {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: black;
} */
