nav {
    font-family: inherit;
    font-weight: inherit;
    display: flex;
    padding: 1em;
    justify-content: space-around;
    flex-wrap: wrap;
    background: white;
    font-weight: 500;
    border-bottom: 1px solid #333;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
}

.nav__projectName {
    color: #18191a;
    text-decoration: none;
    font-size: larger;
}

.authLink {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    padding-left: 14em;
}

.authLink + .authLink {
    padding: 1em;
}

.authLink:hover {
    color: #18191a;
    text-decoration: underline;
}

.nav__projectName:hover {
    color: #e7dfdf;
}

.nav-logoutbtn {
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em 1em;
    margin-left: 1em;
    background-color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease-in-out;
    position: sticky;
    top: 0;
}

.nav-logoutbtn:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
    text-decoration: none;
    background-color: #18191a;
}
