.add_work_button {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 0;
    background-color: white;
    margin-top: 7vh;
}

.add_work_input {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 2vh;
    margin-bottom: 5vh;
}

.add_work_container {
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.extra {
    margin-left: 20vh;
}
