body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.App {
    text-align: center;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

/* .App-link {
    color: #61dafb;
} */

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* body {
    background-image: radial-gradient(
            at center center,
            #9ba8ac70 0%,
            #54595e7c 100%
        ),
        url("https://res.cloudinary.com/gizemella/image/upload/v1624625927/inktank/2019-10-19_14.13.08_em6f1a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vh;
    height: 100vh;
} */
