.page_container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.studio_photo {
    height: 400px;
    object-fit: cover;
    width: 60%;
}

.owner_actions {
    display: flex;
    margin-left: 38vh;
    margin-right: 38vh;
    margin-top: 2vh;
    justify-content: space-between;
}

.update_photo_button {
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: white;
}
.update_photo_button:hover {
    text-decoration: underline;
}
.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.update_photo {
    margin-top: 5vh;
}

.section_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studio_info_container {
    background-color: rgb(238, 236, 236);
    margin: 10vh 37vh;
}

.studio_info_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-top: 3vh;
    padding-left: 5vh;
    padding-bottom: 3vh;
}
.review_container {
    margin: 0vh 36vh;
}

.review_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.display_reviews_container {
    background-color: rgb(238, 236, 236);
    margin: 1vh;
    padding: 5vh;
    text-align: left;
}

.add_review_button {
    margin-top: 5vh;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 0;
    background-color: white;
}

.delete_button {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 0;
    background-color: white;
    margin-bottom: 10%;
    margin-top: 20vh;
}
.one {
}
.two {
}
