.studio_update_photo_button {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 0;
}

.studio_update_photo_input {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 0;
}

button:hover {
    text-decoration: underline;
}
